<html>
	<head>
		<title>BadgerCam</title>
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/styles/main.css" rel="stylesheet" type="text/css" />
		<script src="/scripts/jquery-3.5.1.min.js"></script>
	</head>
	<body>
		<div class = "container-overlay" id = "container-overlay">
		</div>

		<div class = "container-settings" id = "container-settings">
			<h3>Settings</h3>
			<table>
				<tr>
					<td>
						Grouping
					</td>
					<td>
						<select id = "grouping-select" autocomplete="off">
							<option value = "date" <% if (settings.grouping == 'date' || settings.grouping === undefined){ %>selected=selected<% } %>>Date</option>
							<option value = "camera" <% if (settings.grouping == 'camera'){ %>selected=selected<% } %>>Camera</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Ordering
					</td>
					<td>
						<select id = "sorting-select" autocomplete="off">
							<option value = "asc" <% if (settings.sorting == 'asc' || settings.sorting === undefined){ %>selected=selected<% } %>>Ascending</option>
							<option value = "desc" <% if (settings.sorting == 'desc'){ %>selected=selected<% } %>>Descending</option>
						</select>
					</td>
				</tr>
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>
					<td>
						<center><input type = "button" value = "Cancel" onclick="closeSettings();"></center>
					</td>
					<td>
						<center><input type = "button" value = "Save settings" onclick="updateSettings();"></center>
					</td>
				</tr>
			</table>
		</div>

		<div class = "container-main">

			<!-- Left menu -->
			<div class = "container-menu">
				<!-- Header -->
				<div class = "container-header">
					<img src = "/imgs/header-transparent.png" class = "header-image"/>
				</div>

				<div class = "container-menu-content">

					<% for (let group of videoGroups) { %>
						<div class = "menu-group">
							<div class = "menu-group-header">
								<%= group.key %>
							</div>

							<% for (let fileInfo of group.files) { %>
								<div class = "menu-entry" camera = "<%= fileInfo['camera_name'] %>" video-date = "<%= fileInfo['date'] %>" video-time = "<%= fileInfo['time'] %>" video-file = "<%= fileInfo['file'] %>" onclick="playVideo(this);">
									<%= fileInfo['display'] %>
								</div>
							<% } %>
						</div>
					<% } %>
				</div>
			</div>

			<!-- Main content -->
			<div class = "container-content">

				<div class = "container-controls">
					<input type = "button" value = "Show settings" onclick = "showSettings()">
				</div>

				<!-- Video player -->
				<div class = "container-video">
					<video id = "video-source" controls autoplay="true"></video>

					<span id = "video-info-noselected">Select a video on the left to start watching</span>

					<div class = "container-video-info">
						<span id = "video-info-camera"></span> 
						<span id = "video-info-date"></span> 
						<span id = "video-info-time"></span> 
					</div>
				</div>
			</div>
		</div>

		<script type = "text/javascript">
			// Hide all elements by default
			$("#video-source").hide();
			$("#container-overlay").hide();
			$("#container-settings").hide();

			function playVideo(el) {
				$("#video-source").show();
				$("#video-info-noselected").hide();
				$("#video-source").attr('src', $(el).attr("video-file"));
				$("#video-info-camera").html($(el).attr("camera"));
				$("#video-info-date").html($(el).attr("video-date"));
				$("#video-info-time").html($(el).attr("video-time"));
			}

			function showSettings() {
				$("#container-overlay").show();
				$("#container-settings").show();
			}

			function closeSettings() {
				$("#container-overlay").hide();
				$("#container-settings").hide();
			}

			function updateSettings() {
				let grouping = $("#grouping-select").children("option:selected").val();
				let sorting = $("#sorting-select").children("option:selected").val();

				let url = window.location.href;
				let params = {};
				if (url.includes("?")) {
					let paramParts = url.substring(url.indexOf("?")+1).split("&");
					for (let param of paramParts) {
						if (param.trim().length > 0) {
							let parts = param.split("=");
							params[parts[0]] = parts[1];	
						}
					}
				}
				params['grouping'] = grouping;
				params['sorting'] = sorting;

				let newUrl = (url.indexOf("?") >= 0 ? url.substring(0, url.indexOf("?")+1) : url + "?");
				let firstParam = true;
				for (let key in params) {
					if (!firstParam) { newUrl += "&"; }
					newUrl += (key + "=" + params[key]);
					firstParam = false;
				}

				window.location.href = newUrl;
			}
		</script>
	</body>
</html>